{% extends 'base.html.twig' %}

{% block title %}Editer Actualité{% endblock %}

{% block body %}
    <div class="container">
    <h1 class="center-align" >éditer Actualité</h1>

    {{ include('actualite/_form.html.twig', {'button_label': 'Mettre à jour','button_img_label': 'Modifier l image' }) }}

    </div>
{% endblock %}
