{% extends 'base.html.twig' %}

{% block title %}New Actualite{% endblock %}

{% block body %}
<div class="container">
    <h1 class="center-align" >Créer un Actualité</h1>
    {{ include('actualite/_form.html.twig') }}

</div>
{% endblock %}
