{% extends 'base.html.twig' %}

{% block title %}Edit Concert{% endblock %}

{% block body %}

    <div class="container">
    <h1 class="center-align">Edit Concert</h1>

    {{ include('concert/_form.html.twig', {'button_label': 'Mettre à jour','button_img_label': 'Modifier l image' }) }}
    </div>
{% endblock %}
