{% block body %}
    <h2 style="text-align:center">Créer un nouveau concert</h2>

    {% include('concert/_form.html.twig') %}

    {#<a href="{{ path('concert_index') }}">back to list</a>#}
{% endblock %}
