{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <h1 class="center-align">Créer un nouveau concert</h1>

    {{ include('concert/_form.html.twig', {'button_label': 'Ajouter'}) }}

    {#<a href="{{ path('concert_index') }}">back to list</a>#}
</div>
{% endblock %}
