/*** NEW ***/

body {
	/*
    font-family: cursive;
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/60006/spring-tree-flowers-meadow-60006.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;*/
  }

  .mt-3{
	  margin-top: 3rem;
  }
  .mt-2{
	margin-top: 2rem;
}
.mt-1{
	margin-top: 1rem;
}
.mb-3{
	margin-bottom: 3rem;
}
.mb-2{
	margin-bottom: 2rem;
}
.mb-1{
	margin-bottom: 1rem;
}
.pt-1
{
    padding-top: 1rem;
}

/********** ***********/

/* navbar */
nav {
	background-color: #d4b672;
	margin-bottom: 30px;
}

/* article card */
.article-card {
	margin-bottom: 30px;
}

.article-card h2 {
	font-size: 1.5rem;
	margin: 0;
	margin-top: 10px;
	margin-bottom: 5px;
}

.article-card h2 a {
	color: #d4b672;
}

.article-card.image-card {
	background-size: cover !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	height: 300px;
	position: relative;
	z-index: 1;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 20px;
}

.article-card.image-card::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .7);
	z-index: -1;
}

.article-card.image-card h2 a {
	font-size: 2.2rem;
	color: #fff;
}

textarea.materialize-textarea {
	min-height: 10rem;
}

span.error {
	color: #e04447;
	font-size: 12px;
}

span.badge {
	font-size: 12px;
	color: #fff;
}

span.badge.success {
	background-color:
}

table td a {
	color: #000;
}
